<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
	<a href="/imsso/login">Log In</a>
<% } else { %>
	<h2>Hello, <%= user.displayName %>.</h2>
	<a href="/imsso/account">Account Info</a></br>
	<a href="/imsso/logout">Log Out</a>
<% } %>
